table {
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    letter-spacing: 5px;
}

th, td {
    border: 1px solid rgb(150, 150, 150);
    padding: 8px 15px ;
    text-align: center;
}

thead tr, tfoot tr {
    background-color: brown;
    color: aliceblue;
    text-align: center;   
}